<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Devices | Narinian Smart Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      .fakeimg {
        height: 200px;
        background: #aaa;
      }

      #add_device {
        position: fixed;
        bottom: 30px;
        right: 30px;
      }
    </style>
  </head>
  <body>

    <div class="jumbotron text-center" style="margin-bottom:0">
      <h1>Devices</h1>
      <p>devices_length_header devices</p>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Menu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/devices">Devices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Sign out</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="add_device">
      <a class="btn btn-dark" href="/devices/new" target="_self">New device</a>
    </div>
  <!-- </body>
</html> -->
