<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>Sign in | Narinian Smart Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="jumbotron text-center" style="margin-bottom:0">
      <h1>Sign in</h1>
      <p>Narinian Smart Home</p> 
    </div>

    <nav class="navbar navbar-sm bg-dark navbar-dark"></nav>

    <div class="container" style="margin-top:30px">
      <form class="modal-content" action="/google/auth" method="post">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" name="uname" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" name="passwd" required>
        </div>

        <input type="hidden" name="client_id" value={{client_id}}>
        <input type="hidden" name="redirect_uri" value={{redirect_uri}}>
        <input type="hidden" name="state" value={{state}}>
        <input type="hidden" name="response_type" value={{response_type}}>
        <!-- <input type="hidden" name="user_locale" value={{user_locale}}> -->

        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    </div>
    <br />
  </body>
</html>
